.introduction-header {
    position: absolute;
    top: -10%;
    left: 10px;
}

.introduction-panel {
    padding: 1.5rem !important;
    padding-top: 2rem !important;
    position: relative;
}

.viewport-panel {
    height: 70vh;
}

.parallax {
    overflow: hidden;
    padding: 0;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover
    }
}

.results-button {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    background-color: rgba(33, 1, 36, .8);
}

.video {
    position: relative;
    overflow: hidden;
    border: 2px solid #F5F5F5;

    video {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(13%);
        height: 100%;
    }
}

.navbar-right {
    -webkit-animation: slide-in-right 0.7s 0.2s both;
    animation: slide-in-right 0.7s 0.2s both;

    display: flex;
    flex-direction: column;
    align-items: end;
    position: fixed;
    height: auto;
    right: 1.5rem;
    top: 50%;
    padding: 0;

    &:not(:hover) {
        .nav-link.active {
            p {
                transform: translateX(0);
            }

            .bullet {
                opacity: 1;
                width: 100%;
            }
        }
    }

    .nav-link {
        overflow: hidden;
        text-align: right;
        width: 100%;

        div {
            display: inline-block;
            width: min-content;
        }

        p {
            text-wrap: nowrap;
            display: block;
            transform: translateX(100%);
            transform-origin: bottom right;
            transition: transform .2s ease;
        }

        .bullet {
            margin-left: auto;
            width: 30px;
            height: 4px;
            border-radius: 1rem;
            display: block;
            background-color: #210124;
            opacity: .1;
            transition: opacity .2s ease, width .2s ease;
        }

        &:hover {
            p {
                transform: translateX(0);
            }

            .bullet {
                opacity: 1;
                width: 100%;
            }
        }
    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}